/* Base Styles */
.whiteBg, #wrapper {
  background-color: white;
}

.text-center {
  text-align: center;
}

.colorWhite, header {
  color: white;
}

.no-style, ul {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: $dark;
}

a {
  text-decoration: none;
  color: $blue;
  background-color: $offWhite;
  display: block;
  padding: 10px 10px;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -ms-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
  text-transform: capitalize;
  border: thin solid rgb(255, 255, 255);

  &:hover {
    background-color: $blue;
    color: white;
  }
}



h1 {
  color: $blue;
  font-family: 'Lobster', cursive;

  a {
    background-color: $blue;
    color: white;
    display: inline-block;
    border: none;
    font-size:1.25em;

    &:hover {
      background-color: $blue;
    }
  }
}
