* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	background-color: $defaultBg;
}

ul {
	@extend .no-style;
}


a {
	text-decoration: none;
	color: darken($mainBlue, 16%);
	background-color: #eee;
	display: block;
	padding: 10px 10px;
	box-shadow: 0 0 3px rgba(0,0,0,0);
	-webkit-transition: background-color .2s, box-shadow .2s;
	-moz-transition: background-color .2s, box-shadow .2s;
	-ms-transition: background-color .2s, box-shadow .2s;
	-o-transition: background-color .2s, box-shadow .2s;
	transition: background-color .2s, box-shadow .2s;
	text-transform: capitalize;

	&:hover {
		background-color: #ccc;
		box-shadow: 1px 0 3px rgba(0,0,0,0.5);
	}

	&.no-box-shadow {
		-webkit-transition: color .3s;
		-moz-transition: color .3s;
		-ms-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;
		&:hover {
			box-shadow: 0 0 0 rgba(0,0,0,0);
			color: white;
		}
	}
}

h1 {
	color: lighten(black, 30%);
	a {
		background-color: $mainBlue;
		color: black;
		display: inline-block;

		&:hover {
			background-color: $mainBlue;
		}
	}
}