/* Main phone Wrapper */

#wrapper {
	width: 320px;
	margin: 100px auto;
	border: 5px solid #363636;
	border-radius: 5px;
	min-height: 450px;
	@extend .whiteBg;

	@media (max-width: 450px) {
		width: 80%;

	}
}